.search-input {
  background-color: palette("primary");
  color: palette("secondary");
  border-radius: 8px;
  padding: space("xs") space("sm");
  cursor: text;
  height: 100%;
  
  form {
    display: flex;
    align-items: center;
    height: 100%;
  }
  input {
    border: none;
    flex: 1;
    padding: 0;
    background-color: transparent;
    color: palette("secondary");
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba(palette("secondary"), 0.6);
    }
  }

  i {
    font-size: font("small");
    width: 30px;
    text-align: center;
    color: rgba(palette("secondary"), 0.6);
  }
}
