.current-weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px #000000;
  padding: 0 space("xl");

  @include mobile {
    text-align: center;
  }

  &__city {
    font-size: 2rem;
    line-height: 0.8;
  }
  &__main {
    font-size: 8rem;
    @include mobile {
      font-size: 6.5rem;
    }
    font-weight: bold;
  }
  &__description {
    display: flex;
    align-items: center;
    padding-top: space("md");
    margin-top: -30px;

    @include mobile {
      justify-content: center;
    }

    span {
      &::first-letter {
        text-transform: uppercase;
      }
      font-size: 1.4rem;
    }
  }

  &__info {
    margin-top: space("md");
    max-width: 400px;
    border-top: 2px solid palette("white");
    padding-top: space("sm");
    display: flex;
    gap: space("xl");
    @include mobile {
      justify-content: center;
    }

    &__readout {
      display: flex;
      align-items: center;
      gap: space("xxs");
      font-size: 1.3rem;

      i {
        font-size: 0.8rem;
      }
    }
  }
}
