.weather {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);

  section {
    overflow: hidden;
    z-index: 1;
    @include fadeIn(0.7s);
  }

  &__background {
    &::before {
      @include fadeIn;
      position: fixed;
      width: 100%;
      inset: 0;
      content: "";
      background-image: url("/public/img/p3.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      filter: brightness(80%);
    }
  }

  &__loading {
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center;
    @keyframes pulse {
      0% {
        opacity: 0.3;
      }
      50% {
        opacity: 0.7;
      }
      100% {
        opacity: 0.3;
      }
    }

    i {
      font-size: 60px;
      color: palette("secondary");
      animation: pulse 2s infinite;
    }
  }

  &__content {
    padding: space("xl") space("xxl");
    display: grid;
    grid-template-areas:
      "weather weather weather"
      "forecast forecast temp-map"
      "info rain rain";

    grid-auto-columns: 1fr;
    grid-template-rows: 500px 400px 300px;
    gap: space("xl");
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;

    @include mobile {
      grid-template-areas:
        "weather"
        "forecast"
        "temp-map"
        "info"
        "rain";
      grid-template-rows: 600px repeat(2, 400px) repeat(2, 300px);
      padding-inline: space("lg");
    }
  }

  &__error {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center;
    > section {
      @include glassBox;
      padding: space("xl") space("xxl");
      text-align: center;
      i {
        font-size: 50px;
        color: rgb(250, 173, 31);
      }
    }
  }
}
