@mixin mobile {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin glassBox {
  background-color: rgba(palette("primary"), 0.4);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  padding: space("md");
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin fadeIn($time: 0.5s) {
  animation: fadeIn $time ease-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
